.custom-tabbar {
  --background: #FFFFFF;

  height: 75px;
  padding-bottom: 10px;

  border-top: none;

  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);

  position: relative;
}

/* TAB BUTTON */

.custom-tabbar ion-tab-button {
  color: #999999;
}

.custom-tabbar ion-tab-button.tab-selected {
  color: #2563EB;
}

/* FAB CONTAINER */

.fab-container {
  position: absolute;

  top: -25px;
  left: 50%;

  transform: translateX(-50%);
}

/* CENTER FAB */

.center-fab {
  bottom: 20px;
}

/* FAB BUTTON */

.custom-fab {
  --background: #2563EB;

  width: 65px;
  height: 65px;

  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}